git add .* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY STYLES */

/* global styles */
body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	/* background: rgb(250, 232, 232); */
}

.container {
	width: 1100px;
	margin: 0 auto;
}

/* HEADER */
.header {
	background: #000;
	color: aliceblue;
	text-align: center;
	padding: 20px 0;
}

.header h1 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 20px;
}
.header a {
	color: antiquewhite;
	font-size: 18px;
	text-decoration: none;
}

/* MAIN TABLE */
.table-data {
	margin: 30px 0;
	width: 100%;
	border-style: hidden;
	border-radius: 8px;
	box-shadow: 0 0 0 1px #e4e4ef;
}

.table-data th,
.table-data td {
	border-top: 1px solid #e4e4ef;
}

.user, .email {
	width: 400px;
}
.phone {
	width: 160px;
}

.table-data th {
	padding: 18px 16px;
	text-align: left;
	font-weight: 700;
	/* width: 400px; */
}

/* .table-data th + th + th {
	width: 160px;
}
.table-data th + th + th + th {
	width: auto;
} */
.table-data td {
	padding: 8px 16px;
	vertical-align: middle;
}

.table-data td p + p {
	font-size: 12px;
	line-height: 20px;
	color: #808080;
}

.text-center {
	text-align: center;
}

.btn {
	color: #BDBCDB;
	background: #F8F9FB;
	font-size: 12px;
	padding: 8px 24px;
	cursor: pointer;
	border-radius: 12px;
}

.btn.primary {
	color: #605DEC;
	background: #EDEDFE;
}

.btn.success {
	background: #EBF6EB;
	color: #31AA27;
}

.btn.warning {
	background:#FFF4E4;
	color: #E99518;
}

.btn.error {
	color: #F93232;
	background: #FFF0F0;
}