*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

/* !GLOBAL */
body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    letter-spacing: .9px;
    /* font-weight: 400;
    font-size: 16px; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

/* ? HEADER */

.header {
    padding: 24px 0 25px;
    border-bottom: 1px solid #ECECEC;
    font-size: 14px;
    font-weight: 500;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
}

.header-menu {
    display: flex;
    gap: 50px;
    margin-right: auto;
}

.header-menu-item a {
    color: #212121;
    text-decoration: none;
}

.header-menu-item a:hover {
    color: #2196F3;
}

.header-menu-item a.active {
    color: #2196F3;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-list-item a {
    color: #757575;
    text-decoration: none;
}

.header-list-item a:hover {
    color: #2196F3;
}


/* ? HERO */
.hero {
    min-height: 600px;
    background: #2f303a;
    color: #fff;
    display: flex;
    align-items: center;
}

.hero .container {
    width: 100%;
}

.hero-box {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.hero-title {
    font-size: 44px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0 0 30px;
}

.hero-btn {
    font-weight: 700;
    color: #fff;
    padding: 17px 46px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn:hover {
    background: #0f8cf1;
}

.hero-btn:active {
    background: #4ea5ec;
}


/* ? DETAILS */
.details {
    padding: 94px 0;
    font-size: 14px;
}

.details-cards {
    display: flex;
    gap: 30px;
}

.details-card {
    flex: 1 1 20%;
}

.details-card-title {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.details-card-desc {
    color: #757575;
}


/* ? WORK */
.work {
    padding: 0 0 94px;
}

.work-title {
    margin-bottom: 50px;
}

.work-cards {
    display: flex;
    gap: 30px;
}

.work-card {
    flex: 1 1 30%;
    height: 294px;
}

.work-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ? TEAM */
.team {
    padding: 94px 0;
    background: #f5f4fa;
}

.team-title {
    margin: 0 0 50px;
}

.team-cards {
    display: flex;
    gap: 30px;
    text-align: center;
}

.team-card {
    flex: 1 1 20%;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    padding: 0 0 30px;
}

.team-card-image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin: 0 0 30px;
}

.team-card-title {
    font-weight: 500;
    margin: 0 0 10px;
}

.team-card-desc {
    color: #757575;
}


/* ? portfolio */
.portfolio {
    padding: 94px 0;
    background: #f5f4fa;
}

.portfolio-title {
    margin: 0 0 50px;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px 0px 100px 0px;
}

.portfolio-card {
    flex: 1 1 30%;
    border: 1px solid #EEE;
    text-align: left;
}

.portfolio-card-in1 {
    padding: 20px 24px;
    cursor: pointer;
}

.portfolio-card-image {
    width: 100%;
    height: 294px;
    object-fit: cover;
    position: relative;
}

.portfolio-card-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
}

.portfolio-card-desc {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
}

.menu-switching {
    margin: 50px;
}

.ul-switching {
    display: flex;
    justify-content: center;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px;
}

.ul-switching-a {
    border-radius: 4px;
    background: #F5F4FA;
    width: 128px;
    height: 38px;
    flex-shrink: 0;
    margin: 5px;
    color: #212121;
}


a {
    text-decoration: none;
}

.ul-switching a {
    color: #212121;
}

.ul-switching a:hover {
    color: #FFF;
}

.ul-switching a.active {
}

.button {
    color: #212121;
    background: #F5F4FA;

}

.button:hover {
    color: #FFF;
    background: blue;
}

.button:hover {
    color: #FFF;
    background: blue;
}

/* ? FOOTER */
.footer {
    padding: 60px 0;
    background: #2f303a;
    font-size: 14px;
}

.footer-logo {
    display: inline-block;
    margin: 0 0 20px;
}

.footer-address {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 9px;
}

.footer-address p {
    color: #fff;
}

.footer-address a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-address a:hover {
    color: #2196F3;
}

.menu-switching {
    display: flex;
    margin: 50px 0;
    gap: 8px;
    justify-content: center;
}

.menu-switching button {
    padding: 6px 25px;
    cursor: pointer;
    border-radius: 4px;
    background: #F5F4FA;
    color: #212121;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px;
}

.menu-switching button:hover {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.first-box {
    display: flex;
    width: 1200px;
}

.first-box div {
    width: 400px;
    height: 400px;
    outline: 2px solid indianred;
    background: #757575;
}

.second-box {
    width: 1200px;
}

.second-box-one div {
    width: 800px;
    height: 200px;

}

.second-box-one {
    width: 800px;
    height: 200px;
}

.second-box-two {
    width: 400px;
}

.second-box-two div {
    width: 400px;
    height: 133.33px;
}

.second-box {
    display: flex;
    background: chartreuse;
}

.second-box div {
    outline: 2px solid olive;
}

.third1-box {
    display: flex;
    background: darkslategrey;
}

.third1-box {
    width: 1200px;
}

.third1-box div {
    outline: 2px solid blueviolet;
}

.third1-box-1 {
    width: 400px;
    height: 400px;
}

.third1-box-21 {
    width: 800px;
    height: 200px;
    display: flex;
}

.third1-box-22 {
    width: 800px;
    height: 200px;
    display: flex;
}

.p21 {
    width: 400px;
    height: 200px;
}

.p22 {
    width: 400px;
    height: 100px;
}

.container1 {
    max-width: 1200px;
    margin: 100px;
}

.image-new {
    width: 100%;
    height: 294px;
    object-fit: cover;
    position: relative;
}

.text-appearance {
    position: absolute;
    inset: 0;
    background: rgba(33, 150, 243, 0.9);
    color: rgba(255, 255, 255, 1);
    display: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    cursor: pointer;
    padding: 24px;
    font-size: 18px;
    text-align: left;
    line-height: 28px;
}

.portfolio-card:hover .text-appearance {
    display: flex;
}

/* MY STYLES DZ9*/
html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    font-family: 'Roboto';
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-menu {
    background: #000;
    padding: 20px 0;
}

.header-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    padding: 10px 20px;
    background: orange;
    display: block;
}

.header-list li {
    position: relative;
}

.header-list li:hover .header-second-list {
    display: block;
}

.header-second-list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding-top: 20px;
}

.header-second-list a {
    background: red;
}

.header-third-list {
    position: absolute;
    right: 100%;
    display: none;
}

.header-third-list a {
    background: green;
}

.header-second-list li:hover .header-third-list {
    display: block;
}

/* GLOBAL FOR VIDEO */
.main-body {
    color: #fff;
}

.btn {
    font-size: 2.6rem;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    padding: 0.8rem 4rem;
    background: rgb(2, 79, 85);
}

/* !VIDEO */

.section {
    color: #121212;
    text-align: justify;
    padding: 100px 0;
    background: aliceblue;
    font-size: 3rem;
}

.header-for-video {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
}

.header-video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
}

.header-container {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    margin-bottom: 40px;
    font-size: 8rem;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 400;
}

.header-text {
    margin-bottom: 30px;
}

.header-btn {
}


/* BLOCK */
.flex {
    display: flex;
}

.i-block {
    display: inline-block;
}

.float {
    float: left;
}

.fz-0 {
    font-size: 0;
}

.fz-20 {
    font-size: 20px;
}

.w-400 {
    width: 400px;
}

.w-800 {
    width: 800px;
}

.h-100 {
    height: 100px;
}

.h-133 {
    height: 133.33px;
}

.h-200 {
    height: 200px;
}

.h-400 {
    height: 400px;
}

.outline {
    outline: 2px solid red;
}

.bg-blue {
    background: blue;
}

.bg-violet {
    background: violet;